* {
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 20px;
    background-color: rgb(21, 21, 21);
}

p {
    padding-bottom: 15px;
    margin: 7px;
    display: inline;
}

p.execute {
    text-decoration: line-through;
    color: rgb(102, 102, 102);
}

#main{
    display: grid;
    grid-template-areas: "a b";
}

#authorizationBar {

}

#inputLogin, #inputPassword {
    padding: 7px;
}
#postdata, #getdata {
    font-size: 29px;
    width: 300px;
}

.task {
    margin: 15px;
    align-items: center;
    display: flex;
    height: 50px;
}

.buttonCheckExecute,
.deleteTaskButton.execute {
    border-radius: 30px;
    height: 5px;
    width: 5px;
    margin: 0px;
    margin-bottom: 5px;
}

.deleteTaskButton.execute {
    background-color: rgb(74, 36, 36);
    display: block;
}

.buttonCheckExecute.execute {
    background-color: rgb(42, 59, 42)
}

.deleteTaskButton {
    display: none;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(35, 36, 46);
    border: 2px solid black;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(41, 43, 59);
}

button:active {
    box-shadow: 0px 0px 20px rgb(42, 45, 70);
    background-color: rgb(42, 45, 70);
}

button:hover[disabled=""],
button:active[disabled=""] {
    box-shadow: none;
    background-color: rgb(35, 36, 46);
}

#getBox {
    align-items: center;
    display: flex;
}

#buttonConfirm,
#buttonCancel {
    padding: 0px;
    height: 60px;
    width: 60px;
    background-color: rgb(68, 39, 39);
}

#buttonCancel {
    background-color: rgb(68, 39, 39);
}

#buttonCancel:hover {
    background-color: rgb(94, 43, 43);
}

#buttonConfirm {
    padding-bottom: 15px;
    background-color: rgb(29, 29, 67);
}

#buttonConfirm:hover {
    background-color: rgb(28, 28, 100);
}

input[type='text'] {
    height: 60px;
    width: 300px;
    background-color: rgb(35, 36, 46);
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}